* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman";
    
    line-height: 1.6;
}

header {
    background-image: url(./images/header-background.png);
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    padding: 10px;

    color: black;
    background-color: rgba(191, 188, 188, 0.3);
}

.logo-link {
    flex: 0 0 120px;

    margin-top: 10px;
}

.logo {
    width: 100%;
    height: auto;
}

.main-nav {
    flex: 1;

    margin-left: 10rem;
}

.nav-menu {
    display: flex;
    gap: 2rem;

    list-style: none;
}

.menu-category {
    position: relative;
}

.menu-category>button {
    padding: 0.5rem 1rem;

    font-size: 1.1rem;

    background: none;
    border: none;
    color: white;
}

.menu-category-content {
    display: block;
    position: absolute;
    min-width: 200px;
    top: 100%;
    left: 0;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;

    list-style: none;
    
    background: white;
}

.menu-category:hover .menu-category-content {
    opacity: 1;
    visibility: visible;
    
    transition: opacity 0.5s ease, visibility 0s linear 0s;
}

.menu-category-content a {
    display: block;
    padding: 0.75rem 1rem;

    text-decoration: none;
    
    transition: background-color 0.2s ease;
}

.menu-category-content a:hover {
    background-color: #f0f0f0;
}

main {
    width: 100%;

    margin: 0 auto;
    padding: 20px;
    
    background-image: url(./images/main-background.png);
}

main h2 {
    margin-bottom: 2rem;

    text-align: center;
    font-size: 2.5rem;

    color: #333;
}

main h3 {
    margin-bottom: 1.5rem;
    margin-left: 2rem;

    font-size: 1.8rem;

    color: #555;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    gap: 2rem;

    padding: 1rem;
}

.card {
    grid-column: span 4;
    max-width: 80%;

    border-radius: 0.5rem;
    
    background: #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cat-image {
    display: block;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    margin-top: 1rem;
}

.cat-chronicles .card:nth-child(1) {
    background-color: lightblue;
}

.cat-chronicles .card:nth-child(2) {
    background-color: lightgreen;
}

.cat-chronicles .card:nth-child(3) {
    background-color: rgb(245, 171, 171);
}

.get-angry .card:nth-child(1) {
    background-color: rgb(220, 235, 245);
}

.get-angry .card:nth-child(2) {
    background-color: rgb(220, 245, 230);
}

.get-angry .card:nth-child(3) {
    background-color: rgb(245, 240, 220);
}

.get-angry .card:nth-child(4) {
    background-color: rgb(245, 225, 235);
}

.card h4 {
    margin: 1rem;

    font-size: 1.3rem;
    font-weight: 600;

    color: #333;
}

.news {
    display: block;
    padding: 0 1rem;
    margin-bottom: 1rem;

    font-size: 1.2rem;
    line-height: 1.5;

    color: #666;
}

.card a {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;

    text-decoration: none;
    border-radius: 6px;

    color: white;
    background-color: #4a90e2;
}

.card a:hover {
    background-color: #357abd;
}

.angry {
    margin-top: 2rem;
}

.card {
    padding-top: 10px;
}

.angry-cat {
    grid-column: span 6;
    max-width: 55%;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    height: 3rem;
    
    background-color: black;
}

footer a {
    grid-column: span 4;

    font-size: 1.2rem;

    color: white;
    text-decoration: none;
}

footer a:hover {
    color: skyblue;
}

@media (max-width: 50rem) {
    .header-content {
        flex-direction: row;
    }

    .logo-link {
        width: 50%;
    }

    h1 {
        width: 50%;

        font-size: 1.5rem;
    }

    .main-nav {
        margin-left: 0;
        
        justify-items: center;
    }

    .main-nav button {
        font-size: 1rem;

        color: black;
        background-color: rgba(191, 188, 188, 0.5);
    }

    main h2 {
        margin-bottom: 2rem;

        text-align: center;
        font-size: 1.5rem;

        color: #333;
    }

    main h3 {
        position: sticky;
        top: 20px;
        margin: 0;
        padding-left: 20px;
        width: 60%;

        font-size: 1.2rem;
        text-align: start;

        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .card {
        grid-column: span 12;
        max-width: 90%;

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .card-container {
        justify-content: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;

        height: auto;
        
        background-color: rgb(35, 35, 35);
    }

    footer a {
        grid-column: span 12;
        margin: 10px 0;

        font-size: 1.2rem;

        color: white;
    }
}